%li
    %div 
        .row.well{:style => "padding: 10px; margin-bottom: 10px; background-image: linear-gradient(to bottom,#FF9997 0,#f5f5f5 100%);"}
            .col-md-1{:style => "color: #777;"}
                %a.glyphicon.glyphicon-plus
                %br/
                %div{:style => "text-align: center;"} 14
                %a.glyphicon.glyphicon-minus.black
            .col-md-11
                %strong= item.body
                